<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction App</title>
</head>
<body>
    <h1>Welcome to the Prediction App</h1>
    <ul>
        <li><a href="/pcos">PCOS Prediction</a></li>
        <li><a href="/diabetes">Diabetes Prediction</a></li>
        <li><a href="/depression">Depression Detection</a></li>
        <li><a href="/disease">Disease Prediction</a></li>
    </ul>
</body>
</html>
